body {
  background-color: #e6fabe;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* HOME */
.home {
  padding: 10px;
}

.home h1 {
  font-family: "Shadows Into Light Two", cursive;
  color: orange;
  font-size: 70px;
  text-align: center;
}

.home img {
  width: 400px; /* width of container */
  height: 200px; /* height of container */
  object-fit: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
}
.navbar-item {
  font-family: "Shadows Into Light Two", cursive;
  font-size: 20px;
  color: orange;
  margin: 10px;
  font-weight: 1000;
}

.navbar-item:hover {
  color: rgb(243, 197, 112);
}

/* HOW-TO-PLAY */
.rules {
  font-family: "Raleway", sans-serif;
  color: #0a5947;
}

.round-one {
  color: #03919b;
  padding: 10px;
}

.round-two {
  color: #ec5064;
  padding: 10px;
}

.round-three {
  color: #f9a834;
  padding: 10px;
}

/* PLAY */

.container {
  font-family: "Shadows Into Light Two", cursive;
  text-align: center;
}

.score {
  display: flex;
  justify-content: space-evenly;
}

/* DECK */
.card-content {
  background-color: rgb(255, 205, 96);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.card-content h1 {
  font-size: 30px;
}
.card-content p {
  width: 50px;
  text-align: center;
  background-color: palegoldenrod;
  align-self: flex-end;
}

.end {
  font-size: 40px;
  margin-bottom: 20px;
}

/* TIMER in main */
.red {
  color: red;
}
/* TIMER */
.timer {
  position: relative;
  height: 300px;
  width: 300px;
}

.timer-circle {
  fill: none;
  stroke: none;
}

.timer-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.timer-label {
  position: absolute;

  /* Size should match the parent container */
  width: 300px;
  height: 300px;

  /* Keep the label aligned to the top */
  top: 0;

  /* Create a flexible box that centers content vertically and horizontally */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Sort of an arbitrary number; adjust to your liking */
  font-size: 48px;
}

/* buttons */
button {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.1em 0.1em 0;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Shadows Into Light Two", cursive;
  font-weight: 300;
  color: white;
  text-align: center;
}

.start {
  background-color: rgb(92, 223, 92);
}

.start-timer {
  background-color: rgb(92, 223, 92);
}

.correct {
  background-color: rgb(92, 223, 92);
}

.pass {
  background-color: red;
}
